main{
   
    display: flex;
    align-items:center ;
    justify-content: center;
}
.opcoes{
    background-color: #FFF8F2;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    border-radius: 8px;
    min-height: 50vh;
    min-width: 60vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.opcoes > div{
    width: 100%;
    display: grid;
  
    justify-content: center;
    grid-template-columns: repeat(2, 2fr);
    gap: 2rem;
    padding: 2rem 4rem;
}

@media screen and (max-width: 375px) {
    .opcoes > div{
    
        padding: 1rem;
    }
    
}