header{
    color: white;
    /* background-color: #F25C05; */
    background-color: #AF0000;
    min-width: 15vw;
    border-end-end-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    font-size: 0.9em;
    padding: 8px;
    display: inline-block;
    align-items: center;
    height: 80px;
    box-sizing: border-box;
}
header > h1{
    margin: 0 auto;
}