@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+NP+Hmong:wght@600&family=Saira+Condensed:wght@500&display=swap');
header{
    color: white;
    /* background-color: #F25C05; */
    background-color: #AF0000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    padding: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    max-width: 100vw;
    box-sizing: border-box;
}
header > .logo  img{
    height: 50px;
}
.auxiliar{
    width: 12%;
}  

