.cadastroUsuario {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 9px;
    border: 1px solid #ffffff;
    background-color: #fff;
    padding: 10px;
    height: 70vh;
    width: 40vw;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    box-sizing: border-box;
}

.cadastroUsuario form {
    display: flex;
    flex-direction: column;
    height: 80%;
    width: 90%;
    justify-content: space-around;
    box-sizing: border-box;
}

.cadastroUsuario input {
    height: 40px;
    outline: none;
    border: none;
    border-bottom: 1px solid #AF0000;

}

.opcoesFinais {
    display: flex;
    justify-content: flex-end;
    width: 90%;
}

#cad {

    text-decoration: none;
    text-align: center;
    color: white;
    padding: 1rem 2rem;
    width: 129.92px;
    height: 55.11px;
    font-weight: bold;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    display: flex;
    gap: 1rem;

    border: 1px solid #000;
    background-color: #000;
}

#cancel {
    text-decoration: none;
    text-align: center;
    padding: 1rem 2rem;
   
    font-weight: bold;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    display: flex;
    gap: 1rem;
    border: 1px solid #ff0000;
    background-color: #c20202;
    margin-right: 10px;
    color: #fff;
}

#cad:hover {
    background-color: #000000e1;
}

#cancel:hover {
    background-color: #ff0000d1;
}