.viewCardapio {
    display: flex;
    min-height: 100vh;
    width: 100%;
    padding: 50px 0px 50px 0px;
    flex-direction: column;
    box-sizing: border-box;
}

.padraoTabelas {
    min-width: 60vw;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.851);
    border-collapse: collapse;
    padding-top: 0px;
    border-radius: 8px;
    box-shadow: 4px 4px 20px rgba(67, 66, 66, 0.356);
}
.padraoTabelas caption{
    background-color: #8d0101;
    color: white;
    font-weight: bold;
    font-variant: small-caps;
    border-radius: 8px 8px 0px 0px;
}
.padraoTabelas th {
    background-color: #AF0000;
    color: white;
    border-bottom: 1px solid rgb(0, 0, 0);
    height: 40px;
    text-align: center;
}

/* #pontaEsquerda {
    border-top-left-radius: 8px;
}

#pontaDireita {
    border-top-right-radius: 8px;
} */

.padraoTabelas>tbody>tr {
    height: 50px;
    border-top: 1px solid rgb(0, 0, 0);
    box-sizing: border-box;
}

.padraoTabelas td {
    text-align: center;
    border-left: 1px solid rgb(0, 0, 0);
}

.padraoTabelas .primeiraColuna {
    text-align: left;
    text-indent: 10%;
    border-left: none;
}

.CardJantar{
    margin-top: 50px;
    width: 80%;
}